<a href="https://colab.research.google.com/github/Sakalakabombom15/project-2/blob/main/Copy_of_%5BSandbox%5D_Programming_III.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# User defined functions

In [ ]:
def square(value):
  # fungsi ini akan mengembalikan kuadrat dari sebuah nilai
  new_value = value**2
  print(f"Hasil Kuadrat dari {value} adalah:", new_value)
  return new_value

In [ ]:
square(3)

In [ ]:
square(value=3)

In [ ]:
square_result = square(3)

In [ ]:
square_result

In [ ]:
type(square_result)

In [ ]:
square()

In [ ]:
def five_squared():
    new_value = 5 ** 2
    print(new_value)

In [ ]:
five_squared()

In [ ]:
type('hendy')

In [ ]:
my_name = 'hendy'
my_name.upper()

# Without parameter

In [ ]:
# Define the function shout
def shout():
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = 'congratulations' + '!!!'

    # Print shout_word
    print(shout_word)

In [ ]:
# Call shout
shout()

# With parameter

In [ ]:
# Define shout with the parameter, word
def shout(word):
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Print shout_word
    print(shout_word)

# Call shout with the string 'congratulations'
shout('congratulations')

In [ ]:
shout("Keren")
shout(word="Banget")

In [ ]:
def power_with_n(value, n):
  """
     fungsi ini akan mengembalikan pangkat n
     dari sebuah value

     Input:
      value(int,float): angka yang akan dipangkat
      n(int): pangkat

     Output:
      power_result(int,float): angka hasil pangkat
  """
  power_result = value**n
  return power_result

In [ ]:
power_with_n(value=3.4, n=3)

# Functions that return a single variable

In [ ]:
# Define shout with the parameter, word
def shout(word):
    """Return a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Replace print with return
    return shout_word

In [ ]:
# Pass 'congratulations' to shout: yell
yell = shout('congratulations')

# Print yell
print(yell)

# Multiple variable

In [ ]:
def square_and_root(value):
  """Fungsi ini akan mengembalikan kuadrat
     dan akar dari sebuah nilai

  Args:
    value(int, float): angka yang akan dihitung

  Return:
    square_result(int, float): angka hasil kuadrat
    root_result(int, float): angka hasil akar

  """
  square_result = value**2
  root_result = value**(0.5)
  return square_result, root_result

In [ ]:
res = square_and_root(16)
print(res)
type(res)

In [ ]:
square_res, root_res = square_and_root(16)
print(square_res)
print(root_res)

In [ ]:
# Akses dengan index
res = square_and_root( 16)
print(res)
print("Square =", res[0])
print("Root =", res[1])

In [ ]:
# Akses dan ignore salah satu
square, _ = square_and_root(16)
print("Square =", square)

In [ ]:
# Define shout with parameters word1 and word2
def shout(word1, word2):
    """Concatenate strings with three exclamation marks

    Args:
      word1 (str): first word to shout
      word2 (str): second word to shout

    Returns:
      new_shout(str): Concatenated strings with three exclamation marks
    """
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + '!!!'

    # Concatenate word2 with '!!!': shout2
    shout2 = word2 + '!!!'

    # Concatenate shout1 with shout2: new_shout
    # new_shout = shout1 + ' ' + shout2
    new_shout = f"{shout1} {shout2}"

    # Return new_shout
    return new_shout

In [ ]:
# Pass 'congratulations' and 'you' to shout: yell
yell = shout('world', 'hello')

# Print yell
print(yell)

# Returning to a tuple
# Brief introduction to tuple

In [ ]:
nums = (3, 4, 6)

In [ ]:
# Unpack nums into num1, num2, and num3
num1, num2, num3 = nums
print(num1)
print(num2)
print(num3)

In [ ]:
# def func():
#   ...
# return (value1, value2)

# num1, num2 = func()

In [ ]:
# Define shout_all with parameters word1 and word2
def shout_all(word1, word2):
    """Return a tuple of strings"""
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + '!!!'

    # Concatenate word2 with '!!!': shout2
    shout2 = word2 + '!!!'

    # Construct a tuple with shout1 and shout2: shout_words
    shout_words = (shout1, shout2)

    # Return shout_words
    return shout_words

# Pass 'congratulations' and 'you' to shout_all(): yell1, yell2
yell1, yell2 = shout_all('congratulations', 'you')

In [ ]:
# Print yell1 and yell2
print(yell1)
print(yell2)

In [ ]:
yell1, yell2, yell3 = shout_all('congratulations', 'you')

# Keyword local

In [ ]:
'hendy'.join('fe')

In [ ]:
my_name = 'hendy fergus atheri'
my_name.split(' ')

In [ ]:
capitalized_name = []
for name_part in my_name.split(' '):
  capitalized_name.append(name_part.capitalize())

print(capitalized_name)

In [ ]:
'*'.join(capitalized_name)

In [ ]:
def capitalized_name(name):
  '''....

  Args:
    name(str):

  Returns:
    capitalized_name(str):

  Examples:

  '''
  capitalized = []
  for name_part in name.split(' '):
    capitalized.append(name_part.capitalize())

  capitalized = ' '.join(capitalized)
  return capitalized

In [ ]:
def add_mr_title(name):

  """Memberikan title "Mr." kepada nama lelaki

  Args:
    name(str): Bergender laki-laki

  Return:
    new_name(str): Name with 'Mr.' salutaion
  """

  # new_name = "Mr. " + name

  new_name = capitalized_name(name)
  new_name = f'Mr. {new_name}'
  return new_name

In [ ]:
add_mr_title("HeNdY feRgUs aTheRi hura")

In [ ]:
new_name

In [ ]:
# Define change_team()
def change_team():
    """Change the 'value of the global variable team."""

    # Change the value of team in global: team
    team = "Justice League"

    print(team)

In [ ]:
team = 'Avengers'

In [ ]:
print(team)

In [ ]:
change_team()

In [ ]:
team

# Keyword global

In [ ]:
ms_title = "Ms. "

def add_ms_title(name):
  new_name = ms_title + name
  return new_name

In [ ]:
add_ms_title("Elisa")

In [ ]:
ms_title

In [ ]:
# Ganti nilai di global
score = 10

def add_to_global_var(value):
  global score
  score = score + value

add_to_global_var(3)

In [ ]:
score

In [ ]:
add_to_global_var(7)

In [ ]:
score

In [ ]:
# Create a string: team
team = "teen titans"

# Define change_team()
def change_team():
    """Change the 'value of the global variable team."""

    # Use team in global scope
    global team

    # Change the value of team in global: team
    team = "justice league"

In [ ]:
# Print team
print(team)

In [ ]:
# Call change_team()
change_team()

In [ ]:
# Print team
print(team)

In [ ]:
# Define change_team()
def change_team_name(new_team_name):
    """Change the 'value of the global variable team."""

    # Use team in global scope
    global team

    # Change the value of team in global: team
    team = new_team_name

In [ ]:
team

In [ ]:
change_team_name("Digital Skola Batch - 30")

In [ ]:
team

# Nested

In [ ]:
'''def add_family_name(father, mother, daughter, family_name):

  new_father = father + ' ' + family_name
  new_mother = mother + ' ' + family_name
  new_daughter = daughter + ' ' + family_name

  return new_father, new_mother, new_daughter'''

In [ ]:
def add_family_name(father, mother, daughter, family_name):

  def add_title(name):
    new_name = name + ' ' + family_name
    return new_name

  new_father = add_title(father)
  new_mother = add_title(mother)
  new_daughter = add_title(daughter)

  return new_father, new_mother, new_daughter

In [ ]:
add_family_name(
    father="Heru",
    mother="Sinta",
    daughter="Ana",
    family_name="Wijaya"
)

In [ ]:
# Define three_shouts
def three_shouts(word1, word2, word3):
    """Returns a tuple of strings
    concatenated with '!!!'."""

    # Define inner
    def inner(word):
        """Returns a string concatenated with '!!!'."""
        return word + '!!!'

    # Return a tuple of strings
    return (inner(word1), inner(word2), inner(word3))

# Call three_shouts() and print
print(three_shouts('Hi', 'Hey', 'Hello'))

In [ ]:
inner('Hola')

# Nested Function II

Repeating word based on number made \n """Return the inner_echo function."""

In [ ]:
# Define echo
def echo(n):
    """Return the inner_echo function."""

    # Define inner_echo
    def inner_echo(word1):
        """Concatenate n copies of word1."""
        echo_word = word1 * n
        return echo_word

    # Return inner_echo
    return inner_echo

In [ ]:
# Call echo: twice
twice = echo(2)

# Call echo: thrice
thrice = echo(3)

# Call twice() and thrice() then print
print(twice('hello'), thrice('hello'))

In [ ]:
thrice

In [ ]:
# Call echo: thrice
thrice("hai")

In [ ]:
twice("hello")

# Functions with one default argument

In [ ]:
# Define shout_echo
def shout_echo(word1, echo=7):
    """Concatenate echo copies of word1 and three
     exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

In [ ]:
# Call shout_echo() with "Hey": no echo
default_echo = shout_echo("Hey")

# Call shout_echo() with "Hey" and echo=3: with echo
with_echo = shout_echo("Hey", echo=3)

# Print no_echo and with_echo
print(default_echo)
print(with_echo)

# Functions with multiple default arguments

In [ ]:
# Define shout_echo
def shout_echo(word1, echo=1, intense=True):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Make echo_word uppercase if intense is True
    if intense is True:
        # Make uppercase and concatenate '!!!': echo_word_new
        echo_word_new = echo_word.upper() + '!!!'
    else:
        # Concatenate '!!!' to echo_word: echo_word_new
        echo_word_new = echo_word + '!!!'

    # Return echo_word_new
    return echo_word_new

In [ ]:
# Define shout_echo
def shout_echo(word1, echo=1, intense=True):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Make echo_word uppercase if intense is True
    if intense:
        # Make uppercase and concatenate '!!!': echo_word_new
        echo_word_new = echo_word.upper() + '!!!'
    else:
        #Concatenate '!!!' to echo_word: echo_word_new
        echo_word_new = echo_word + '!!!'

    # Return echo_word_new
    return echo_word_new

In [ ]:
# Call shout_echo() with "Hey", echo=5 and intense=True: with_big_echo
with_big_echo = shout_echo("Hey", echo=5, intense=True)

# Call shout_echo() with "Hey" and intense=True: big_no_echo
default_echo = shout_echo("Hey")

# Print with_big_echo and big_no_echo
print(with_big_echo)
print(default_echo)

In [ ]:
my_echo = shout_echo("Hey", echo=2, intense=False)
print(my_echo)

# Functions with variable-length arguments (*args)

In [ ]:
# Define gibberish
def gibberish(*args):
    """Concatenate strings in *args together."""
    # Initialize an empty string: hodgepodge
    hodgepodge = ''

    # Concatenate the strings in args
    for word in args:
        hodgepodge += word # hodgepodge = hodgepodge + word

    # Return hodgepodge
    return hodgepodge

In [ ]:
# Call gibberish() with one string: one_word
one_word = gibberish("saya")

# Call gibberish() with five strings: many_words
many_words = gibberish("saya", "suka", "makan", "nasi", "goreng")

# Print one_word and many_words
print(one_word)
print(many_words)

# Functions with variable-length keyword arguments (**kwargs)

In [ ]:
# Define report_status
def report_status(**kwargs):
    """Print out the status of a person."""
    print("\nBEGIN: REPORT\n")

    # Iterate over the key-value pairs of kwargs
    for key, value in kwargs.items():
        # Print out the keys and values, separated by a colon ':'
        print(key + ": " + value)

    print("\nEND REPORT")

In [ ]:
# First call to report_status()
report_status(
    name="john",
    occupation="data scientist",
    status="married"
)

In [ ]:
# Second call to report_status()
report_status(
    name="hanna",
    occupation="software engineer",
    status="single",
    blood_type = "a+",
    address="jakarta",
    birth_date="12-01-1998"
)

In [ ]:
my_args = {
    "name": "john",
    "occupation": "data scientist",
    "status": "married"
}

report_status(**my_args)

# Lambda

In [ ]:
def raise_to_power(x, y):
  value = x ** y
  return value

In [ ]:
raise_to_power(4,3)

In [ ]:
# lambda input: process
# lambda automatically output
raise_to_power = lambda x, y: x ** y

In [ ]:
raise_to_power(4,3)

In [ ]:
add_mr_title = lambda male_name: "Mr. " + male_name

add_mr_title("Hendy")

# Map

In [ ]:
def square_def(x):
  return x**2

square_lambda = lambda x: x ** 2

value_list = [1, 2, 3, 4, 5]
value_tuple = (1, 2, 3, 4, 5)

In [ ]:
[*map(lambda x: x**2, value_list)]

In [ ]:
map(square_def, value_list)

In [ ]:
[*map(square_def, value_list)]

In [ ]:
[*map(square_def, value_tuple)]

In [ ]:
list(map(square_def, value_tuple))

In [ ]:
map(square, value_list)

In [ ]:
# map(function, iterable)
list(map(square, value_list))

In [ ]:
[*map(square, value_list)]

In [ ]:
# Create a list of strings
name = ('john', 'hanna', 'bobby', 'charlie')

# declare lambda function
shout = lambda word: word + '!!!'

# Use map() to apply a lambda function over list: shout_names
shout_names = map(shout, name)

# Convert shout_names to a list: shout_names_list
shout_names_list = list(shout_names)

# Print the result
print(shout_names_list)

In [ ]:
# using list comprehension
[shout(i) for i in name]

In [ ]:
basket = ['apple', 'melon', 'kiwi']

capitalized_basket = []
for fruit in basket:
  capitalized_basket.append(fruit.capitalize())

capitalized_basket

In [ ]:
capitalized_basket = [fruit.capitalize() for fruit in basket]
capitalized_basket

In [ ]:
basket = ['apple', 'melon', 'kiwi', 'coconut', 'durian', 'mango']

In [ ]:
%%timeit
capitalized_basket = []
for fruit in basket:
  capitalized_basket.append(fruit.capitalize())

capitalized_basket

In [ ]:
%%timeit
capitalized_basket = [fruit.capitalize() for fruit in basket]
capitalized_basket

In [ ]:
[1, 4, 9, 16, 25]

# Filter and Lambda

In [ ]:
3 > 4, 4 >= 4

In [ ]:
filter()

In [ ]:
len('hendy')

In [ ]:
if_longer_than_5 = lambda member: len(member) > 5

In [ ]:
if_longer_than_5('hendy')

In [ ]:
# Create a list of strings: friends
friends = ['jake', 'amy', 'roberto', 'michael', 'juliet', 'jasmine']

# declare lambda function
if_longer_than_5 = lambda member: len(member) > 5

# Use filter() to apply a lambda function over friends: result
result = filter(if_longer_than_5, friends)

# Convert result to a list: result_list
result_list = list(result)
# result_list = [*result]

# Print result_list
print(result_list)

In [ ]:
# declare lambda function
if_longer_than_5 = lambda member: len(member) > 5

In [ ]:
# Create a list of strings: friends
friends = ['jake', 'amy', 'roberto', 'michael', 'juliet', 'jasmine']
# Use filter() to apply a lambda function over friends: result
result = filter(if_longer_than_5, friends)
# result_list = list(result)
result_list = [*result]

print(result_list)

# Errors

# Error handling with try-except

In [ ]:
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Initialize empty strings: echo_word, shout_words
    echo_word = ''
    shout_words = ''


    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_words
    shout_words = echo_word + '!!!'


    # Return shout_words
    return shout_words

In [ ]:
# Call shout_echo
shout_echo("hello", echo="world")

In [ ]:
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Initialize empty strings: echo_word, shout_words
    echo_word = ''
    shout_words = ''

    # Add exception handling with try-except
    try:
        # Concatenate echo copies of word1 using *: echo_word
        echo_word = word1 * echo

        # Concatenate '!!!' to echo_word: shout_words
        shout_words = echo_word + '!!!'
    except TypeError:
        # Print error message
        print("word1 must be a string and echo must be an integer.")
        return

    # Return shout_words
    return shout_words

In [ ]:
# Call shout_echo
shout_echo("hello", echo="world")

In [ ]:
# Call shout_echo
shout_echo("hello", echo=2)

# Error handling by raising an error

In [ ]:
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Raise an error with raise
    if echo < 0:
        raise TypeError('echo must be greater than or equal to 0')

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

In [ ]:
# Call shout_echo
shout_echo("hello", echo=5)

In [ ]:
# Call shout_echo
shout_echo("hello", echo=-5)

In [ ]:
12/0

In [ ]:
n1 = 12
n2 = 0

try:
  print(n1/n2)
except ZeroDivisionError:
  # Print error message
  print("n2 tidak boleh nol!")

In [ ]:
n1 = 12
n2 = 3

try:
  print(n1/n2)
except ZeroDivisionError:
  # Print error message
  print("n2 tidak boleh nol!")

# Library

In [ ]:
import numpy
numpy.sqrt(16)

In [ ]:
import numpy as np
np.sqrt(16)

In [ ]:
from numpy import sqrt
sqrt(16)

# String Manipulation

In [ ]:
# Slicing
b = "Hello, World!"
print(b[2:5])

In [ ]:
# Negative index slicing
b = "Hello, World!"
print(b[-5:-2])

In [ ]:
# Reverse
b = "Hello, World!"
# list[start:end:step]
print(b[::-1])

In [ ]:
b = "Hello, World!"
# list[start:end:step]
print(b[:5:2])

In [ ]:
# menjadi huruf besar
print(b.upper())

In [ ]:
# menjadi huruf kecil
b = "HELLO, WORLD!"
print(b.lower())

In [ ]:
# huruf kapital
b = "hello world!"
b.capitalize()

In [ ]:
# Menghapus semua whitespace kiri dan kanan
b = " Hello, World!     "
print(b.strip())

In [ ]:

b = "*Hello,**World!"
print(b.strip('*'))

In [ ]:
# Mengganti substring dengan string lain
b = "Hello, World!"
print(b.replace("l", "n"))

In [ ]:
my_name = "hendy"
my_name.

In [ ]:
print(b.replace("l", "ha"))

In [ ]:
print(b.replace("Hello", "Hai"))

In [ ]:
print(b.replace("World", "You"))

In [ ]:
a = "alpha beta charlie delta"
a.split()

In [ ]:
a = "alpha;beta charlie;delta"
a.split(";")

In [ ]:
# string concatenate
a = "Hello"
b = "World"
c = a + b
print(c)

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

In [ ]:
print("Hello, World!")

In [ ]:
print("Hello" "World!")

In [ ]:
print("Hello", "World!")

In [ ]:
print("Hello {}".format("World"))

In [ ]:
print("Hello {} {}".format("World","!!!"))

In [ ]:
name = "John Doe"
print(f"My name is {name}")

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {} dollars for {} pieces of item {}."
print(myorder.format(quantity, itemno, price))

In [ ]:
f"I want to pay {quantity} dollars for {itemno} pieces of item {price}."

# Misc.

In [ ]:
# 1.
def balaa() :
  return xxx

balaa()

In [ ]:
area_of_perpendicular = lambda length, wide: length * wide

In [ ]:
area_of_perpendicular(3, 5)

In [ ]:
def area_of_perpendicular(length, wide):
  area = length * wide
  return area

In [ ]:
area_of_perpendicular(3, 5)